<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1>Конвертер валют</H1>
    <form method="post" action="/conv">
        <input type="number" name="value">
        <select name="type"><option>исходная валюта</option>
            <option value="rub">RUB</option>
            <option value="kzt">KZT</option>
            <option value="usd">USD</option>
        </select>
        <select name="type"><option>искомая валюта</option>
            <option value="rub">RUB</option>
            <option value="kzt">KZT</option>
            <option value="usd">USD</option>
        </select>
        <button type="submit">конвертировать</button>
    </form>
    <p th:text="${'Результат:'+res}">
    <form method="get" action="/home">
        <input type="submit" value="На главную">
    </form>
</body>
</html>